@import "tailwindcss";

html, body {
  min-height: 100vh;
  background-color: #0f172a;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

#root {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100% !important;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: transparent;
  overflow-x: hidden;
}